.cardListagem {
    background-color: #646c75;
    color: black;
}

.form-control {
    background-color: #eaeff1;
}

.col-sm-12 {
    background-color: #131313;
}

.navbar {
    background-color: #646c75;
    color: black;
}